.navbar {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    border-bottom: black solid 1px;
    background-color: #555250;

    h1 {
        cursor: pointer;
        color: lightgray;
        font-style: italic;
        margin-left: 0.5rem;
    }

    button {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        background-color: white;
        padding: 0.3rem;
        border: black solid 0.5px;
        cursor: pointer;

        transition: all 500ms;

        &:hover{
            border-radius: 25%;
            background-color: #b6b4b3;
        }
    }

    .search {
        background-color: white;
        width: auto;
        height: 1.5rem;
        margin-right: 4rem;
        padding: 1px;
        border-radius: 0, 0, 30%, 30%;
    }
}