.splash {

    display: flex;
    justify-content: center;

    .splash-card-container {
        background-color: transparent;
        width: 20rem;
        height: auto;
        perspective: 1000px;
    }

    .splash-card-container-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 2s;
        transform-style: preserve-3d;
    }

    .splash-card-front, .splash-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
    }

    .splash-card-front {
        cursor: pointer;
    }

    .splash-card-back {
        transform: rotateY(180deg);
    }


    .center-box{
        margin-top: 6rem;
        display: flex;
        h2{
            // font-weight: bold;
            text-decoration: underline;
            font-style: italic;
            font-size: 24px;
            margin-bottom: 1rem;
        }
        a {
            color: blue;
            text-decoration: underline;
            &:hover {
                color: darkblue;
            }
        }

        p {
            width: 30rem;
        }

        .splash-text-box {
            margin-right: 2.5rem;
        }

        .splash-card-container {
            margin-left: 2.5rem;
        }
    }

}