
@keyframes spin {
    0% {
        transform: rotate(0deg);
        }
    100% {
        transform: rotate(-360deg);
    }
}


.loading {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 7.5rem;

    color: rgb(0, 0, 0);

    font-size: 28px;

    svg {
        margin-bottom: 15px;
        animation: spin 3s infinite;
        font-size: 144px;
    }

    p {
        display: flex;
    }
}
